// ## Colors

// ### Primary
$clr-primary-1: #050e1f;
$clr-primary-2: #d9d9d9;
$clr-primary-3: #030914;
$clr-primary-4: #e2244c;
// 3a393e
// ### Grey
$clr-grey-1: #333333;
$clr-grey-2: #5b8fb9;
$clr-grey-3: #b6eada;
$clr-grey-4: #eeeeee;
$clr-grey-5: #d9d9d9;
$clr-grey-6: #dff6ff;

// ###W&B
$clr-black: #000000;
$clr-white: #ffffff;

// ##Typography
// ###Body Copy
$extra-small-size: 0.6875rem; // 11
$extra-small-size-I: 0.75rem; // 12
$extra-small-size-II: 0.875rem; // 14
$extra-small-size-III: 0.9375rem; // 15
$extra-small-size-IIII: 1rem; // 16
$extra-small-size-IIII: 1.1875rem; // 19
$extra-small-size-IIIII: 1.25rem; // 20
$small-size: 1.5rem; // 24
$small-size-I: 1.5625rem; // 25
$small-size-II: 1.625rem; // 26
$medium-size-III: 1.8125rem; // 29
$medium-size-IIII: 2rem; // 32
$medium-size-IIIII: 2.1875rem; // 35
$medium-size-IIIIII: 2.3125rem; // 37
$large-size: 2.5rem; // 40px
$large-size-I: 2.8125rem; // 45px
$large-size-II: 3.125rem; // 50px
$large-size-III: 3.3125rem; // 53px
$large-size-IIII: 3.75rem; // 60px
$large-size-IIIII: 4.0625rem; // 65px
$large-size-IIIIII: 4.375rem; // 70px
$transition: all 0.1s linear;
$normal-transition: all 0.1s;
$spacing: 0.25rem;
$radius: 0.625rem;
$l-radius: 1.25rem;
$opacity: 0.9;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 375px;
$fixed-width: 1440px;

// ##Font
$f-family: "Poppins", sans-serif;
// Weights:
